.wiki h2 {
    margin-top: 1.5em;
}

.wiki h1, .wiki h2, .wiki h3, .wiki h4, .wiki h5 {
    font-weight: bold;
    color: #ddd;
}

.wiki {
    color: #ccc;
}


/* Right column stuff */
.wiki .float-right {
    clear: right;
    float: right;

    margin-left: 50px;
    margin-bottom: 50px;
}

/* Markdown generated tables */
.wiki_table {
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1rem;
}

.wiki_table td,
.wiki_table th {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.3rem 0.5rem;
}

.wiki_table th {
    background-color: #222;
    color: white;
    text-align: center;
}

.wiki_table code,
.wiki > p > code {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.1rem;
}


.wiki pre {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}


/* Bottom page table */
.page-table {
    width: 100%;
    height: 1px; /* Part of height hack */
}

.page-table.top-level {
    margin: 40px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2px;
}

.page-table .category {
    background-color: #222;
    text-align: right;
    font-weight: bold;
    padding: 0.15em 0.5rem 0.15rem 1rem;
}

.page-table .category-td {
    max-width: 200px;
    width: 1%;
    padding: 2px;
}

.page-table > tr:nth-child(2n) { background-color: #101010; }
.page-table > tr:nth-child(2n+1) { background-color: #171717; }

.page-table th {
    text-align: center;
    background-color: #111;
}

.page-table td,
.page-table th {
    box-sizing: border-box;
    padding: 0.2rem;
}

.page-table tr { height: 100%; }
.page-table td { height: 100%; }
.page-table td > div { height: 100%; }

.page-table td > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
